body{
    background-image: url(BMW_M4_CS.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-family: monospace;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    color: rgb(238, 231, 231);
}